@charset "utf-8";

.popupContainer {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 20;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .popup {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 50%;
        display: flex;
        background-color: #252525;
        border: solid 2px #fff;
        padding: 10px;
        position: relative;
        z-index: 30;
        text-align: center;

        span.btnContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;

            button {
                padding: 10px 20px;
                font-weight: bold;
                margin: 0 5px;
                cursor: pointer;
                border: none;
                border-radius: 3px;
            }

            button.btnCancel {
                background-color: #909090;
                transition: .5s;

                &:hover {
                    transition: .5s;
                    background-color: #fff;
                    color: #909090;
                }
            }

            button.btnDelete {
                background-color: #EB1A45;
                color: #fff;
                transition: .5s;

                &:hover {
                    transition: .5s;
                    background-color: #BF1537;
                }
            }
        }

        button.enabled {
            margin-top: 10px;
            background-color: #73dc8c;
            color: #252525;
            font-weight: bold;
            border: none;
            font-size: 12pt;
            padding: 10px 40px;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
        }

        button.disabled {
            margin-top: 100px;
            background-color: #707070;
            color: #fff;
            font-weight: bold;
            border: none;
            font-size: 12pt;
            padding: 10px 40px;
            border-radius: 5px;
            margin-top: 10px;
            cursor: not-allowed;
        }
    }
}
